.weatherWrap{
    text-align: center;
    padding: 40px;
    color: #fff;
}
.weatherDescriptionWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherDescriptionWrap p{
    margin-top: 0;
    margin-bottom: 0;
}

.weatherDescriptionWrap img{
    width: 30px;
    height: 30px;
}

.weatherWeekItemList{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
