.weatherWrap{
    text-align: center;
    padding: 40px;
    color: #fff;
}
.weatherDescriptionWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherDescriptionWrap p{
    margin-top: 0;
    margin-bottom: 0;
}

.weatherDescriptionWrap img{
    width: 30px;
    height: 30px;
}

.weatherWeekItemList{
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 663px) {
    .weatherWeekItemList li{
        width: 49%;
    }
}

@media (max-width: 500px) {
    .weatherWeekItemList li{
        width: 99%;
    }
}

