.weatherWrap{
    background: rgba(20, 70, 10, 0.2);
    text-align: center;
    padding: 40px;
    color: #fff;
}
.weatherDescriptionWrap{
    display: flex;
    justify-content: flex-end;
}
.weatherWeekItemItem{
    color: red;
}
.weatherWeekItemList{
    padding: 1px;
}