

.ctList {
    width: 35%;
    background: rgb(21 76 10 / 40%);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
  }

.ctList li{
    font-size: 20px;
    margin-bottom: 7px;
    color:  #fff;
}

.ctList li input{
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

.ctListItemSpan{
  display: inline-block;
}
.ctListItemSpan::first-letter{
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
    .ctList {
      width: 96%;
      background: rgb(21 76 10 / 20%);
    }
  }

.ctListItemBtn{
  background-color: blue;
}