
.homeWrapp{
    background-image: url(../../../public/images/fishing.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}