
.flWrap{
  min-height: 60vh;
  width: 45%;
}

.flWrap ul {
  padding: 50px;
}

.flWrap ul li {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.flWrap a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: #178077;
  padding: 11px;
  border-radius: 5px;
}

.flWrap a:hover {
  color: #178077;
  background: #fff;
  padding: 11px;
  border-radius: 5px;
}

@media (max-width: 663px) {
  .flWrap{
    width: 99%;
  }
}