/* .wrap {
  background-image: url(../../../public/images/fishing.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
} */
.flWrap{
  min-height: 60vh;
  width: 45%;
}

.flWrap ul {
  padding: 50px;
}

.flWrap ul li {
  padding-bottom: 10px;
}
.flWrap a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #178077;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.flWrap a:hover {
  color: #fff;
}
